/packagecache/

# Subprojects with version numbers (downloaded via wrap)
/*-*/

# Other subprojects
/OpenScanLib/

# List of our .wrap files (because we do want to ignore any transitive
# dependency wraps)
/*.wrap
!/OpenScanLib.wrap
!/rapidjson.wrap
